@model IEnumerable<DemoUser.Models.Content>

@{
    ViewData["Title"] = "ViewContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewContent</h1>

<p>
    <a asp-action="addContent">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brief)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdate)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.authorid)
        </th>*@
            <th>
              Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brief)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdate)
            </td>
            <td>
           <img src="data:image/png;base64, @item.image" width="100px" height="100px"/>
        </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.authorid)
        </td>*@
            <td>
                @Html.ActionLink("Edit", "editContent", new { id = item.Id }) |
                @Html.ActionLink("Remove", "deleteContent", new { id = item.Id })
                @Html.ActionLink("Content", "getContent", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
